/** @format */

@import './libs/normalize.scss';
@import 'variables.scss';

body {
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 14px;
}
.wrapper {
}
//========================================================================================================================================================

.content {
  &__container {
    padding: 86px 0px 186px;
    margin: 0 auto;
    max-width: 1020px;
    @media (max-width: 1067.98px) {
      padding: 92px 0px 223px;
      margin: 0px 24px;
    }
  }
  &__logo {
    max-width: 600px;
    max-height: 200px;
    margin: 0px auto 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 767.98px) {
      margin: 0px auto 32px;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px;
    justify-content: space-evenly;
  }
}
.search-content {
  margin-bottom: 60px;
  @media (max-width: 767.98px) {
    margin-bottom: 32px;
  }
  &__items {
    position: relative;
    height: 56px;
    transition: all 0.3s ease 0s;
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translate(0px, -50%);
    cursor: pointer;
    path {
      transition: all 0.3s ease 0s;
    }
    &-search {
      left: 20px;
      &:hover path {
        fill: #575757;
      }
    }
    &-remove {
      right: 20px;
      &:hover path:not(:first-child) {
        fill: #575757;
      }
    }
  }
  &__input {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 17.5px 60px 17.5px 48px;
    font-size: 16px;
    transition: all 0.3s ease 0s;
    &:hover {
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    }
    &:focus {
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
    }
  }
}
